/**
 * Header styles.
 * @author  Isha CHopde
 */

ul.menu-list {
    display: flex;
    margin: 0;
    padding: 0 30px;
    background: black;
    list-style: none;
    &>li {
        padding: 0 4px;
        margin: 13px 0 9px;
        a,
        div {
            float: left;
            color: white;
            line-height: 16px;
        }
        a,
        a:hover {
            cursor: pointer;
            text-decoration: none;
        }
        &.title {
            font-weight: bold;
        }
        &.selected>a {
            font-weight: bold;
            color: blue;
        }
        &.separated {
            border-left: 1px solid #3d526c;
            padding-left: 9px;
            margin-left: 9px;
        }
        &.ml-auto {
            margin-left: auto;
        }
    }
}

.font {
    color: white;
    padding-bottom: .5em;
}

div.header-logo {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 50px;
    color: transparent;
}

select.status {
    margin-top: 10px;
    background: #F9FAFE;
    border: 2px solid #A3ABB3;
    border-radius: 15px;
    select.status:hover {
        background: #E7EDF3;
    }
}

.header {
    overflow: hidden;
    width: 95%;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: #33CCFF;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.headerrightitems {
    float: right;
}

.headeruser {
    max-width: 350px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    font-size: 18px;
    padding: 12px;
    line-height: 25px;
    color: white;
}

.headertimers12 .header-timer-divs {
    display: flex;
}

.headertimers12 .header-timer-divs div:first-child {
    border-right: 1px solid #D4D9DE;
}

.selectWrapper {
    float: right;
    border-radius: 36px;
    //display:inline-block;
    overflow: hidden;
    background: #cccccc;
}

.border-online {
    border: 2px solid #02A626;
}

.border-offline {
    border: 2px solid #D43245;
}

.selectBox {
    width: 140px;
    border: 0px;
    outline: none;
}